name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run : 
        working-directory: ./WebApiTemplate

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: install lambda tool
      run: dotnet tool install -g Amazon.Lambda.Tools
    - name: deploy to aws lambda
      run: dotnet lambda deploy-function --region $aws_region --aws-access-key-id ${{ secrets.AWS_ACCESS_KEY_ID }}  --aws-secret-key ${{ secrets.AWS_SECRET_ACCESS_KEY }} --function-runtime $function_runtime --function-name $function_name
      env:
        aws_region: ap-northeast-2
        function_runtime: dotnetcore3.1
        function_name: DeploymentTest
      
